<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>setlocaleES</Title>
		</Header>
		<Snippet>
			<Code Language="CPP">
				<![CDATA[setlocale(LC_ALL, "es_ES.UTF-8");]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>